.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);
}
.depoimento img { 
  width: 100%;
  height: initial;
  border-radius: 0px;
  object-fit: cover;
}
.depoimento-conteudo {
  padding: 40px 40px 80px 80px;
  align-self: end;
}